.game__header {
  background-image: url("assets/game-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}

.games__container {
  margin-top: 4rem;
}

.games__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding: 0;
  margin: 0 0 4rem 0;
}

.addCart {
  font-size: 1.4rem;
  background-color: #0e3a53;
  border-radius: 0;
  border: 0;
  padding: 10px 16px;
  margin-top: 20px;
}

.addCart:hover {
  background-color: #000;
}